body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #025157;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="number"],
select,
input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.extras {
    margin-top: 10px;
}

button {
    background-color: #025157;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #014049;
}

#result-container {
    margin-top: 20px;
    font-weight: bold;
    color: #025157;
}

#puntaje-imss {
    color: #FF5722;
    font-size: 24px;
}


#result-container {
    margin-top: 20px;
    font-weight: bold;
    color: #025157;
}
